/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS variables*/
:root {
    /*--variable-name */
    --primary-font: "Oswald", sans-serif;
    --primary-color: #333E3D;
    --secondary-color: rgb(214, 209, 202);
    --tertiary-color: rgb(65, 134, 129);
    --highlight: #A89382;
    --light-highlight: rgb(217, 126, 71);
    --danger: rgb(186, 38, 38);
    --confirmation: rgba(97, 159, 105);
    --cancel: rgb(225, 205, 147);
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: var(--primary-font);
    margin: 0;
    overflow-x: hidden;
    overflow-wrap: anywhere;
}

header {
    width: 100%;
}

main {
    /* Main element to take up any surplus space to push footer down */
    flex: 1 0 auto;
    width: 100%;
    max-width: 1399px;
    margin: 0 auto;
    position: relative;
    padding: 10px;
}


/* Warning messages */
.warning-message, .errorlist, .logged-out {
    color: var(--danger)
}

.logged-in {
    color: var(--confirmation)
}

/* Button styles */
.icon-button > .icon {
    padding-right: 10px;
}

.sign-in-button, .sign-up-button {
    align-items: center;
    margin: 0px 25px;
}

.sign-in-button, .btn-signin {
    background-color: rgba(97, 159, 105, 0.3);
}

.sign-in-button:hover,.sign-in-button:focus , .btn-signin:hover, .btn-signin:hover {
    background-color: rgba(97, 159, 105, 0.8);
}

.sign-up-button, .btn-signup {
    background-color: rgb(217, 126, 71, 0.3);
}

.sign-up-button:hover,.sign-up-button:focus , .btn-signup:hover, .btn-signup:hover {
    background-color: rgba(217, 126, 71, 0.9);
}

.signout-button {
    background-color: var(--danger);
    color: white;
    border: 0px;
    padding: 10px 15px;
}

.signout-button:hover, .signout-button:focus {
    background-color: rgb(99, 10, 10);
    color: white;
}

.edit-button {
    background-color: var(--highlight);
    color: white;
}

.edit-button:hover, .edit-button:focus {
    background-color: var(--light-highlight);
    color: white;
}

.add-button, .confirm-button {
    background-color: rgba(97, 159, 105, 0.5);
}

.confirm-button:hover, .confirm-button:focus, .add-button:hover, .add-button:focus {
    background-color: var(--tertiary-color);
    color: white;
}

.cancel-button, .filter-button {
    background-color: var(--cancel);
    border: 0px;
}

.filter-button:hover, .filter-button:focus, .cancel-button:hover, .cancel-button:focus {
    background-color: var(--highlight)
}

.view-button:hover, .view-button:focus {
    background-color: var(--primary-color);
    color: white;
}

.user-buttons {
    display: flex;             
    margin: 0 auto;           
    justify-content: center;  
    align-items: center;      
    gap: 20%;                
}

.action-button {
    padding: 5px 35px;
}

.modal-buttons {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 4rem; 
}

.modal-buttons form {
    margin: 0; 
}

/* Global Styles */
.navbar {
    display: flex;
    width: 100%;
    background-color: var(--highlight);
    padding: 10px;
}

.navbar-inner {
    width: 90%;
    max-width: 1399px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subheadings {
    width:100%;
    max-width: 1399px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.heading, .action-form {
    background-color: rgba(214, 209, 202, 0.35);
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.account-confirmation {
    text-align: right;
}

.collection-name {
    text-align: center;
}

.footer {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 10px;
}

.github {
    text-decoration: none;
    color: white;
    font-size: small;
}

/* about.html style */
.overview {
    text-align: center;
}

.cover-image {
    background: url("../images/home-library.jpg") no-repeat center center/cover;
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cover-text {
    background-color: white;
    text-align: center;
    width: 100%;
    justify-content: space-evenly;
    padding: 5px;
}

.cover-text p {
    margin: 0; 
}

/* index.html style */
.additonal-forms {
    margin: 0 auto;
    max-width: 100%;
    max-width: 1399px;
    padding: 10px;
}

.filter, .create-collection,.create-book {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.filter-text {
    margin-right: 10px;
}

.drop-down {
    margin-right: 10px;
}

.collection-link {
    text-decoration: none;
    color: var(--primary-color);
}

.collection-link:hover {
    text-decoration: none;
    color: var(--light-highlight);
}

/* collection_detail.html styles */
.delete-icon {
    padding: 2px 5px;   
}

.book-body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}